.ColorPicker-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 30vw;
}
.color {
  border-style: double;
  border-radius: 1rem;
  width: 10vh;
  height: 10vh;
  margin: 1vh;
}
#red {
  border-color: #b23a48;
  background-color: #b23a48;
  color: #b23a48;
}
#orange {
  border-color: #db9039;
  background-color: #db9039;
  color: #db9039;
}
#yellow {
  border-color: #dbda60;
  background-color: #dbda60;
  color: #dbda60;
}
#green {
  border-color: #33c191;
  background-color: #33c191;
  color: #33c191;
}
#blue {
  border-color: #28b7e5;
  background-color: #28b7e5;
  color: #28b7e5;
}
#pink {
  border-color: #cf8298;
  background-color: #cf8298;
  color: #cf8298;
}
#black {
  border-color: #3e4756;
  background-color: #3e4756;
  color: #3e4756;
}
#white {
  border-color: #f0e1d1;
  background-color: #f0e1d1;
  color: #f0e1d1;
}
