.CreateGame {
    text-align: center;
  }
  
  .CreateGame-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .CreateGame-logo {
      animation: CreateGame-logo-spin infinite 20s linear;
    }
  }
  
  .CreateGame-header {
    background-color: #AEC8EB;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
  }
  
  .CreateGame-link {
    color: #61dafb;
  }
  
  @keyframes CreateGame-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .create-button {
    position: relative;
    z-index: 1
  }