.LandingPage {
  text-align: center;
}

.LandingPage-header {
  background-color: #AEC8EB;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button-wrapper {
  width: 100%;
  height: 256px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background {
  position: absolute;
  opacity: 0.25;
  background: transparent url("../media/train.png") repeat-x scroll 0% 0%;
  height: 100vh;
  width: 300vw;
  animation: slide 10s linear infinite;
  animation-direction: reverse;
}

.train {
  width: 100vw;
  height: 256px;
  overflow: hidden;
}

h1 {
  font-size: 10rem;
  margin: 0rem;
  color: #FCFBF4;
  -webkit-text-stroke: 2px #3A689B;
}

.create-button {
  background-color: #3A689B;
  background: linear-gradient(to top right, #2D537A 0%, #3A689B 50%, #2D537A 100%);
  color: #FCFBF4;
  width: 11vw;
  height: 8vh;
  font-size: 1.8rem;
  font-weight: bold;
  border: none;
  border-radius: 8rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.create-button:hover {
  background: linear-gradient(to top right, #2D537A 15%, #3A689B 50%, #2D537A 85%);
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-1000px, 0, 0);
  }
}