.PlayerInfo-header{
    width: 20vw;
    min-width: 20vw;
    height: 90vh;
    min-height: 90vh;
    color: white;
    background-color: aqua;
}
.Name-header{

}
.Destination-header{

}
.Wagons-header{

}
.TrainCard-header{

}