.personicon{
    background-image: url("../media/Icon.png"); /* The image used */
    height: 200px; /* You must set a specified height */
    width: 200px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    margin: 5vh 5vh;
    border-radius: 50%;
    border-style: dashed;
    border-width: 0.25rem;
    color: #81a6d8;
  }