@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-1000px, 0, 0);
  }
}
/* fix overflow */
.background {
  position: absolute;
  opacity: 0.25;
  background: transparent url("../media/train.png") repeat-x scroll 0% 0%;
  height: 100vh;
  width: 300vw;
  animation: slide 10s linear infinite;
  animation-direction: reverse;
  margin-top: 3vh;
}

.train {
  width: 100vw;
  height: 256px;
  overflow: hidden;
}
